NODE_ENV=
DATABASE_URL=
N8N_API_URL=
N8N_API_KEY=
AI_SASS_CHAT_WIDGET_URL=
NEXT_PUBLIC_AI_SAAS_ENDPOINT_BASE_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
MODEL_SERVICE_URL=
MODEL_SERVICE_ACCESS_ID_KEY=
MODEL_SERVICE_ACCESS_ID_VALUE=
MODEL_SERVICE_SECRET_KEY=
MODEL_SERVICE_SECRET_VALUE=
INFERENCE_URL=
KNOWLEDGE_BASE_UPLOAD_URL=
KNOWLEDGE_BASE_DOCUMENT_CALLBACK_PROCESSED_URL=
KNOWLEDGE_BASE_EMBEDDING_DELETE_URL=
NEXT_PUBLIC_KNOWLEDGE_BASE_S3_FOLDER=
NEXT_PUBLIC_MODEL_S3_FOLDER=
NEXT_PUBLIC_MOCK_USER_ID=